@import "tailwindcss";
:root {
  --background:#F8F9FA;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter:var(--font-inter), ui-sans-serif, system-ui;
  --breakpoint-small: 320px;
  --breakpoint-mobile: 428px;
  --breakpoint-tablet: 1080px;
  --breakpoint-xl: 1280px;     
  --breakpoint-desktop: 1366px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.loading-container {
  @apply flex justify-center items-center min-h-screen;
}

.error-text {
  @apply text-gray-500;
}

.order-detail-container {
  @apply pl-4 sm:px-7 md:px-10 lg:px-14 xl:!px-15 bg-[#F8F9FA];
}

.order-header {
  @apply flex gap-2 pt-6 pb-6 xl:pt-8;
}

.back-button {
  @apply cursor-pointer;
}

.order-title {
  @apply font-inter font-medium text-[24px] leading-[28.8px] text-[#007BFF] mb-0;
}

.divider-main {
  @apply border-t border-[#979797] mb-6;
}

.divider-section {
  @apply border-t border-[#DEE2E6] mb-6 mt-8;
}

.order-summary-grid {
  @apply grid tablet:grid-cols-5 small:grid-cols-2 mobile:grid-cols-2 tablet:gap-[122px] small:gap-6 mobile:gap-6 mb-6;
}


.summary-label {
  @apply font-inter text-xs text-[#979797] pb-[5px];
}

.summary-value {
  @apply font-inter text-sm text-[#272B41];
}

.product-info-title {
  @apply font-inter font-medium text-[20px] leading-[24px] text-[#002050] pb-4;
}

.table-container {
  @apply overflow-x-auto;
}

.product-cell {
  @apply flex items-center gap-3;
}

.product-image-order-detail {
  @apply object-cover rounded !pt-0 !mt-0;
}

.product-name {
  @apply font-inter font-normal text-xs text-[#495057];
}

.price-text {
  @apply text-[#000000];
}

.main-text-color {
  @apply text-[#535E63];
}

.color-container {
  @apply flex items-center gap-2;
}

.color-circle {
  @apply w-3 h-3 rounded-full inline-block;
}

.color-text {
  @apply font-inter font-normal text-[12px] leading-4 tracking-normal text-[#535E63];
}