@import "tailwindcss";
:root {
  --background:#F8F9FA;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter:var(--font-inter), ui-sans-serif, system-ui;
  --breakpoint-small: 320px;
  --breakpoint-mobile: 428px;
  --breakpoint-tablet: 1080px;
  --breakpoint-xl: 1280px;     
  --breakpoint-desktop: 1366px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.loading-container {
  @apply flex justify-center items-center min-h-screen;
}

.main-container {
  @apply pl-4 sm:px-7 md:px-10 lg:px-14 xl:!px-15 bg-[#F8F9FA];
}

.header-container {
  @apply flex justify-between items-center pt-6 pb-6 xl:pt-8;
}

.header-left {
  @apply flex gap-2 items-center;
}

.shopping-bag-title {
  @apply font-inter font-medium text-[24px] leading-[28.8px] text-[#007BFF] mb-0;
}

.delete-selected-btn {
  @apply !py-[6px] !px-[15px] !h-[32px];
}

.table-wrapper {
  @apply overflow-x-auto min-h-[600px];
}

.table-cell {
  @apply !pl-0;
}

.table-row {
  @apply h-12;
}

.product-container {
  @apply flex items-center gap-3;
}

.product-image {
  @apply object-cover rounded;
}

.product-name {
  @apply font-inter font-normal text-xs text-[#495057];
}

.color-container {
  @apply flex items-center gap-2;
}

.color-circle {
  @apply w-3 h-3 rounded-full inline-block;
}

.color-text {
  @apply font-inter font-normal text-[12px] leading-4 tracking-normal text-[#535E63];
}

.quantity-container {
  @apply flex items-center gap-2;
}

.quantity-btn-decrement {
  @apply border px-3 py-1 rounded text-blue-500 hover:!border-[#007BFF] !w-8 !h-8;
}

.quantity-btn-increment {
  @apply border px-[10.5px] py-1 rounded text-blue-500 hover:!border-[#007BFF] !w-8 !h-8;
}

.quantity-display {
  @apply border px-[31.5px] py-1 rounded !w-20 text-center flex items-center justify-center;
}

.quantity-display::-webkit-inner-spin-button,
.quantity-display::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-display[type='number'] {
  -moz-appearance: textfield;
}

.delete-icon {
  @apply cursor-pointer;
}

.empty-cart-container {
  @apply flex flex-col justify-center items-center py-10 gap-4 min-h-[600px];
}

.empty-cart-text {
  @apply font-inter text-base text-[#495057];
}

.continue-shopping-btn {
  @apply !bg-white !text-[#007BFF] !border !border-[#007BFF] hover:!bg-[#f0f8ff];
}

.price-row-subtotal {
  @apply flex justify-end items-center gap-3 pt-6 pb-[14px];
}

.price-row-total {
  @apply flex justify-end items-center gap-3 pb-6 pt-[14px];
}

.price-row-tax {
  @apply flex justify-end items-center gap-3;
}

.price-label {
  @apply font-inter font-normal text-sm leading-[21px] text-[#212529];
}

.price-value {
  @apply font-inter font-bold text-sm leading-5 text-center text-[#343A40];
}

.place-order-container {
  @apply flex justify-end items-center pb-[11px] md:pb-[13px] lg:pb-[15px] xl:!pb-[23px];
}

.place-order-btn {
  @apply small:!px-[85px] mobile:!px-[142.5] sm:!px-[50px] !py-[15px] !h-[46px] !bg-[#007BFF];
}

.place-order-text {
  @apply font-inter font-normal text-xl leading-[30px] tracking-normal text-center align-middle text-white;
}

.summary {
  @apply pr-4;
}

.remove-product-span {
  @apply text-[#007BFF];
}

.checkout-loading {
  @apply fixed inset-0 z-50 flex flex-col items-center justify-center bg-white/0 backdrop-blur-sm;
}
.checkout-loading-p {
  @apply mt-4 text-lg text-blue-500;
}