@import "tailwindcss";
:root {
  --background:#F8F9FA;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter:var(--font-inter), ui-sans-serif, system-ui;
  --breakpoint-small: 320px;
  --breakpoint-mobile: 428px;
  --breakpoint-tablet: 1080px;
  --breakpoint-xl: 1280px;     
  --breakpoint-desktop: 1366px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* order-detail.css */

/* Loading & Error States */
.loading-container {
  @apply flex justify-center items-center min-h-screen;
}

.error-text {
  @apply text-gray-500;
}

/* Main Container */
.order-detail-container {
  @apply pl-4 sm:px-7 md:px-10 lg:px-14 xl:!px-15 bg-[#F8F9FA];
}

/* Header Section */
.order-header {
  @apply flex gap-2 pt-6 pb-6 xl:pt-8;
}

.back-button {
  @apply cursor-pointer;
}

.order-title {
  @apply font-inter font-medium text-[24px] leading-[28.8px] text-[#007BFF] mb-0;
}

/* Divider Lines */
.divider-main {
  @apply border-t border-[#979797] mb-6;
}

.divider-section {
  @apply border-t border-[#DEE2E6] mb-6 mt-8;
}

/* Order Summary Grid */
.order-summary-grid {
  @apply grid tablet:grid-cols-4 small:grid-cols-2 mobile:grid-cols-2 tablet:gap-[122px] small:gap-6 mobile:gap-6 mb-6;
}


.summary-label {
  @apply font-inter text-xs text-[#979797] pb-[5px];
}

.summary-value {
  @apply font-inter text-sm text-[#272B41];
}

/* Product Information */
.product-info-title {
  @apply font-inter font-medium text-[20px] leading-[24px] text-[#002050] pb-4;
}

/* Table Container */
.table-container {
  @apply overflow-x-auto;
}

/* Product Column */
.product-cell {
  @apply flex items-center gap-3;
}

.product-image {
  @apply object-cover rounded;
}

.product-name {
  @apply font-inter font-normal text-xs text-[#495057];
}

/* Price Column */
.price-text {
  @apply text-[#000000];
}

.main-text-color {
  @apply text-[#535E63];
}