@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter:var(--font-inter), ui-sans-serif, system-ui;
  --breakpoint-small: 320px;
  --breakpoint-mobile: 428px;
  --breakpoint-tablet: 1080px;
  --breakpoint-xl: 1280px;     
  --breakpoint-desktop: 1366px;
}

.main-header-container {
    @apply flex justify-between bg-white small:px-3 mobile:px-4 tablet:px-6 xl:px-9 desktop:px-9 py-3 sticky top-0 z-50 shadow-xs;
}

.header-title {
    @apply font-inter font-bold text-base text-[#343A40] !mb-0;
}

.icons-container {
    @apply flex items-center gap-5;
}
.belloutlined {
    @apply w-4 h-4;
}

.cart-badge {
    @apply [&_.ant-badge-count]:!min-w-[15px] [&_.ant-badge-count]:!h-[15px] [&_.ant-badge-count]:!leading-[15px] [&_.ant-badge-count]:!rounded-full [&_.ant-badge-count]:!text-[9px] [&_.ant-badge-count]:!p-0;
}

.dropdown-container {
    @apply flex items-center gap-2 cursor-pointer;
}

.dropdown-useroutlined {
    @apply w-4 h-4 cursor-pointer;
}

.header-username {
    @apply text-sm text-[#007BFF];
}

.login-link {
    @apply font-inter font-medium text-xs text-[#007BFF];
}